In [9]:
import pandas as pd
import json

In [17]:
df_1 = pd.read_csv("Belly_Button_Biodiversity_Metadata.csv")
df_2 = pd.read_csv("belly_button_biodiversity_otu_id.csv")
df_3 = pd.read_csv("metadata_columns.csv")
df_4 = pd.read_csv("belly_button_biodiversity_samples.csv")

dict_1 = df_1.to_dict(orient = "index")
dict_2 = df_2.to_dict(orient = "index")
dict_3 = df_3.to_dict(orient = "index")
dict_4 = df_4.to_dict(orient = "index")

json.dumps(dict_1)
json.dumps(dict_2)
json.dumps(dict_3)
json.dumps(dict_4)

TypeError: keys must be a string

In [12]:
df_1.head()

,SAMPLEID,EVENT,ETHNICITY,GENDER,AGE,WFREQ,BBTYPE,LOCATION,COUNTRY012,ZIP012,...,DOG,CAT,IMPSURFACE013,NPP013,MMAXTEMP013,PFC013,IMPSURFACE1319,NPP1319,MMAXTEMP1319,PFC1319
0,940,BellyButtonsScienceOnline,Caucasian,F,24.0,2.0,I,Beaufort/NC,usa,22306,...,no,no,8852.0,37.172222,54.5,NaN,1,NaN,33.990002,25.5
1,941,NaN,Caucasian/Midleastern,F,34.0,1.0,I,Chicago/IL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,943,BellyButtonsScienceOnline,Caucasian,F,49.0,1.0,I,Omaha/NE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,944,BellyButtonsScienceOnline,European,M,44.0,1.0,I,NewHaven/CT,usa,7079,...,no,yes,NaN,35.816666,16.0,NaN,0,6567.0,32.403332,28.5
4,945,BellyButtonsScienceOnline,Caucasian,F,48.0,1.0,I,Philidelphia/PA,usa,84404,...,no,no,NaN,37.783333,4.0,NaN,0,5613.0,33.634445,24.0

In [ ]:
dict_1